*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.sub{
  width: 100%;
  height: 90vh;
  border: 1px solid #ccc;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sub p{
  color: red;
}